# **Python learning**

## **Session No. 1**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(1,2,3,4,5)

1 2 3 4 5

In [ ]:
print(True)

True

In [ ]:
print([1,2,3,4,5,"hello","fawad"])

[1, 2, 3, 4, 5, 'hello', 'fawad']

In [ ]:
a=1
b=True
c="hello world"
d=(1,2,3,4,5,"hello")
e={1,2,3,4,5,"hello"}
f=[1,2,3,5,"Fawad",False]
g=complex(1,2)
h=1.56
i=None

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))
print(g,type(g))
print(h,type(h))
print(i,type(i))

1 <class 'int'>
True <class 'bool'>
hello world <class 'str'>
(1, 2, 3, 4, 5, 'hello') <class 'tuple'>
{1, 2, 3, 4, 5, 'hello'} <class 'set'>
[1, 2, 3, 5, 'Fawad', False] <class 'list'>
(1+2j) <class 'complex'>
1.56 <class 'float'>
None <class 'NoneType'>

### **TASK NO. 1**

### **Calculator**

In [ ]:
a=int(input("Enter First Number : "))
b=int(input("Enter Second Number : "))


print("\nAddition",a+b)
print("Subtraction",a-b)
print("Multiplication",a*b)
print("Division",a/b)
power=input("\nPower Of Number is : ")
print("Exponent",a**b)

Enter First Number : 6
Enter Second Number : 5

Addition 11
Subtraction 1
Multiplication 30
Division 1.2

Power Of Number is : 6
Exponent 7776

## **Session NO. 2**

### Type Casting

In [ ]:
a="4"
b="5"
print(a+b)

45

In [ ]:
# print(int(a)+int(b))
c=int(a)+int(b)
print(c)

9

In [ ]:
sum=float(a)+int(b)
print("Sum of A and B is :",sum)

Sum of A and B is : 9.0

In [ ]:
a=4.5
b=7
sum=a+b
print("Sum : ",sum, type(sum))

Sum :  11.5 <class 'float'>

### Taking Input

In [ ]:
A = input("Name : ")

Name : Fawad

In [ ]:
name="Zain"
friend="Faiz"
other_friend="guddu"
print("Hello "+ name)
# print("Hello ", name)

Hello Zain

In [ ]:
# coding="I Love Coding ," DO you as well"
# print(coding)    this code will give error

In [ ]:
coding = "He said , \" Do You Love Coding ? \""
print(coding)

He said , " Do You Love Coding ? "

In [ ]:
name="zain zainu"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])
print(name[7])
print(name[8])
print(name[9])

z
a
i
n

z
a
i
n
u

In [ ]:
name= " Fawad "
for characters in name:
  print(characters)

F
a
w
a
d

In [ ]:
name = "Aslam Ejaz Rana"
length_of_text=len(name)
print(length_of_text)

15

### **String Slicing**

**Positive Slicing**

In [ ]:
name="Ahmed Ali Raza"
print(name[0:4])  #Will print the first four letter

Ahme

In [ ]:
name="Ahmed Ali Raza"
print(name[:4])  #auto zero will be assigned by the python itself

Ahme

In [ ]:
name="Ahmed Ali Raza"
print(name[2:5]) #it will start from m and end with d.

med

In [ ]:
name="Ahmed Ali Raza"
print(name[:])  #It will auto print the whole name.

Ahmed Ali Raza

**Negative Slicing**

In [ ]:
name = "Mango Tango"
print(name[:-4])

Mango T

In [ ]:
name = "Mango Tango"
print(name[:len(name)-4])

Mango T

In [ ]:
name = "Muhammad"
print(name[-6:-1])

hamma

### **TASK NO. 2**

In [ ]:
#Count the number of characters (including spaces) in the sentence.
text="Why Are You Running"
print(len(text))

19

In [ ]:
# Count the number of words in the sentence.
text="Why Are You Running"
print(len(text.split()))

4

In [ ]:
# Convert the sentence to uppercase.
text="Why Are You Running"
print(text.upper())

WHY ARE YOU RUNNING

In [ ]:
# Convert the sentence to lowercase.
text="Why Are You Running"
print(text.lower())

why are you running

In [ ]:
# Print the sentence in reverse order.
text="Why Are You Running"
print(text.split()[::-1])

['Running', 'You', 'Are', 'Why']

## **Session NO. 3**

### **String Methods**

In [ ]:
# UPPERCASE:	Converts the string to uppercase letters.
name="Fawad Ahmed Mir"
print(name.upper())

FAWAD AHMED MIR

In [ ]:
# LOWERCASE:	Converts the string to lowercase letters.
name="Zain Ali Zain"
print(name.lower())

zain ali zain

In [ ]:
# STRIP:  Remove all the before and after white spaces in the string.
name="      Raja Saad Jahandad         "
print(name.strip())

Raja Saad Jahandad

In [ ]:
# RSTRIP:		Remove the trailing characters.
name ="Jaadu! Jaadu! Jaadu! Jaadu! YAyyyyyy!!!"
print(len(name))
print(name.rstrip("!"))

39
Jaadu! Jaadu! Jaadu! Jaadu! YAyyyyyy
Jaadu! Jaadu! Jaadu! Jaadu! YAyyyyyy

In [ ]:
# REPLACE:	Replace the word.
name="Faizan Choudary"
print(name)
# name.replace("Faizan","Jawan")
print(name.replace("Faizan","Jawan"))

Faizan Choudary
Jawan Choudary

In [ ]:
# SPLIT:		It splits the given string and returns the separated strings as list item.
name="Ina Mika Dika Raka Maka Daka"
print(name.split())

['Ina', 'Mika', 'Dika', 'Raka', 'Maka', 'Daka']

In [ ]:
# CAPITALIZE:	Capitalize the first letter only.
name="fawad ahmed mir"
print(name.capitalize())

Fawad ahmed mir

In [ ]:
# ENDSWITH:	Checks the string end with the specified chaarcter or not. IF yes then return true else false.
text="The Dog Barks Bow! Bow! Bow!"
print(text.endswith("!"))

True

In [ ]:
# FIND:  Returns the lowest index of a substring. Returns -1 if not found.
text="Why Are You Running"
print(text.find("You"))

8

In [ ]:
# ISNUMERIC:Checks if all characters are numeric (or digits).
text="Am I A Number? 123"
print(text.isnumeric())
text="123"
print(text.isnumeric())

False
True

In [ ]:
#TITLE: Convvert The String To Title Case
text="hi! how are you?"
print(text.title())

Hi! How Are You?

### **TASK NO.3**

In [ ]:
text="Hello my name is fawad ahmed mir. Are you running away from progress?"
print(text.find("fawad"))
print(text.isnumeric())
print(text.isalpha())
print(text.islower())
print(text.isprintable())
print(text.isspace())
print(text.istitle())
print(text.title())
print(text.startswith("Hello"))
print(text.swapcase())

17
False
False
False
True
False
False
Hello My Name Is Fawad Ahmed Mir. Are You Running Away From Progress?
True
hELLO MY NAME IS FAWAD AHMED MIR. aRE YOU RUNNING AWAY FROM PROGRESS?

## **Session NO. 4**

### **Conditional Operators**

In [ ]:
Age=int(input("Enter Your Age : "))
print("Your Age is : ",Age)
print(Age==18)
print(Age>18)
print(Age<18)
print(Age>=18)
print(Age<=18)
print(Age!=18)

Enter Your Age : 21
Your Age is :  21
False
True
False
True
False
True

In [ ]:
age=21

if(age>18):
  print("you are eligible to drive")
else:
  print("you are not eligible to drive")

you are eligible to drive

In [ ]:
N = int(input("Enter the value: "))
if(N<0):
    print("The Number is Negative")
elif(N==0):
    print("The Number is Zero")
elif(N!=0):
    print("The Number is not equal to Zero")
elif(N>0):
    print("The Number is greater than zero")
elif(N<=0):
    print("The Number is less or equal to zero")
else:
    print("The Number is greater or equal to zero")

Enter the value: 7
The Number is not equal to Zero

In [ ]:
num = int(input("Enter the Value: "))
if (num<0):
    print("The value is less than zero")
elif(num>0):
    print("The Number is Greater than zero")
    if(num<=10):
        print("The Number is less or equal to 10")
    elif(num>10 and num<=11):
        print("The Number is in between 10 and 11")
    elif(num>10 and num<=20):
        print("The number is in between 10 and 21")
    else:
        print("the number is greater than 20")
else:
    print("The Number is equal to zero")

Enter the Value: 20
The Number is Greater than zero
The Number is in between 10 and 11

### **Task no.4**

In [ ]:
import time
# print(dir(time))
actual_time=time.strftime("%I:%M:%S %P")
current_time=time.localtime().tm_hour
if(current_time < 12 ):
  print("Good Morning!")
elif(current_time > 12 and current_time < 6):
  print("Good Afternoon!")
else:
  print("Good Evening!")

print(f"You Time Is : {actual_time}")

Good Morning!
You Time Is : 05:50:34 am

## **Session No. 5**

### **Match Case**

In [ ]:
x=int(input("Enter Value of X : "))

match x:
  case 0:
    print("Case is Zero")
  case 7:
    print("CR7 Suiiiiiiii")
  case _:
    print(x)

Enter Value of X : 0
Case is Zero

In [ ]:
x=int(input("Enter Value Of X : "))
match x:
  case 0:
    print("Case Is Zero")
  case 7:
    print("Ronaldo Suiiiii")
  case _ if x!=9:
    print(f"{x} is not 9")
  case _ if x > 0:
    print(f"{x} is greater than 0")
  case _:
    print(f"{x}, is an alien")

Enter Value Of X : 10
10 is not 9

In [ ]:
x=int(input("Enter Number : "))

match x:
  case _ if(x%2==0):
    print(f"{x} is an even number")
  case _ if(x%2!=0):
    print(f"{x} is an odd number")
  case _:
    print(x)

Enter Number : 3
3 is an odd number

### **Task No. 5**

In [ ]:
x=int(input("Enter Number : "))
match x:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print(f"{x} is an invalid day")

Enter Number : 5
Friday

## **Session NO. 6**

### **Loop**

**For Loop**

In [ ]:
name="Rizwan"
for i in name:
  print(name , i)

Rizwan R
Rizwan i
Rizwan z
Rizwan w
Rizwan a
Rizwan n

In [ ]:
colors = ["Red","Blue","Green","Yellow","Voilet"]
for i in colors:
  print(colors,i)

['Red', 'Blue', 'Green', 'Yellow', 'Voilet'] Red
['Red', 'Blue', 'Green', 'Yellow', 'Voilet'] Blue
['Red', 'Blue', 'Green', 'Yellow', 'Voilet'] Green
['Red', 'Blue', 'Green', 'Yellow', 'Voilet'] Yellow
['Red', 'Blue', 'Green', 'Yellow', 'Voilet'] Voilet

In [ ]:
colors = ["Red","Blue","Green","Yellow","Voilet"]
for color in colors:
    print(color)
    for i in color:
        print()

Red



Blue




Green





Yellow






Voilet

In [ ]:
colors = ["Red","Blue","Green","Yellow","Voilet"]
C= [c for color in colors for c in color]
print(C)

['R', 'e', 'd', 'B', 'l', 'u', 'e', 'G', 'r', 'e', 'e', 'n', 'Y', 'e', 'l', 'l', 'o', 'w', 'V', 'o', 'i', 'l', 'e', 't']

In [ ]:
colors = ["Red","Blue","Green","Yellow","Voilet"]
_=[print(color) or [print(c) for c in color] for color in colors]

Red
R
e
d
Blue
B
l
u
e
Green
G
r
e
e
n
Yellow
Y
e
l
l
o
w
Voilet
V
o
i
l
e
t

In [ ]:
for j in range(5):
  print(j)

0
1
2
3
4

In [ ]:
for k in range(0,5):
  print(k)

0
1
2
3
4

In [ ]:
for l in range(-10,10):
  print(l)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [ ]:
for k in range(0,-10, -1):
	print(k)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [ ]:
for i in range(0,21,2):
  print(i, i+1)

0 1
2 3
4 5
6 7
8 9
10 11
12 13
14 15
16 17
18 19
20 21

**While Loop**

In [ ]:
x=0
while(x < 5):
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
while True:
  num=int(input("Number : "))
  print(num)
  if not num > 0:
    break

Number : 3
3
Number : 2
2
Number : 5
5
Number : 6
6
Number : -1
-1

In [ ]:
x=5
while (x>0):
  print(x)
  x=x-1
else:
  print("I am Inside Else Block")

5
4
3
2
1
I am Inside Else Block

### **Task NO. 6**

In [ ]:
# TASK: range = 1 to 100.
# sum of even numbers.
sum = 0
for i in range(1,100,2):
  sum=sum+i
print(sum)

2500

In [ ]:
for i in range(1,100):
  if(i<11):
    print(f"5 X {i} = {5*i}")
    i=i+1
  if(i==10):
    break

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

In [ ]:
for i in range(1,101):
  print(i,end=" ")
  if(i==50):
    break
  print("Mission Successful")
print("thank you")

1 Mission Successful
2 Mission Successful
3 Mission Successful
4 Mission Successful
5 Mission Successful
6 Mission Successful
7 Mission Successful
8 Mission Successful
9 Mission Successful
10 Mission Successful
11 Mission Successful
12 Mission Successful
13 Mission Successful
14 Mission Successful
15 Mission Successful
16 Mission Successful
17 Mission Successful
18 Mission Successful
19 Mission Successful
20 Mission Successful
21 Mission Successful
22 Mission Successful
23 Mission Successful
24 Mission Successful
25 Mission Successful
26 Mission Successful
27 Mission Successful
28 Mission Successful
29 Mission Successful
30 Mission Successful
31 Mission Successful
32 Mission Successful
33 Mission Successful
34 Mission Successful
35 Mission Successful
36 Mission Successful
37 Mission Successful
38 Mission Successful
39 Mission Successful
40 Mission Successful
41 Mission Successful
42 Mission Successful
43 Mission Successful
44 Mission Successful
45 Mission Successful
46 Mission Successful
47 Mission Successful
48 Mission Successful
49 Mission Successful
50 thank you

In [ ]:
for i in [2,3,5,7,8,5,4,3]:
  if i%2==0:
    continue
  print(i)

3
5
7
5
3

In [ ]:
i=0
while True:
  print(i)
  i=i+1
  if(i%100 == 21):
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## **Session No. 7**

### **Functions**

In [ ]:
import math

**User Defined**

In [ ]:
def greet(name):
  print("Hello Mellow", name)

greet("adnan rashid")

Hello Mellow adnan rashid

In [ ]:
def add(a,b):
  return a+b

result=add(28,29)
print(result)

57

**Pre-Defined**

In [ ]:
text="Hello World"
print(len(text))

11

In [ ]:
lst=[1,2,3,4]
print(sum(lst))

10

In [ ]:
num=-5
print(abs(num))

5

In [ ]:
tupl=(3,1,4,15,9,0)
print(sorted(tupl))

[0, 1, 3, 4, 9, 15]

In [ ]:
my_list=['apple','banana','cherry','berry']
for index,value in enumerate(my_list):
  print(index,value)

0 apple
1 banana
2 cherry
3 berry

**Default Arguments**

In [ ]:
def complete_name(fname,mname="Ahmed",lname="Mir"):
  print(fname,mname,lname)

complete_name("Fawad")

Fawad Ahmed Mir

In [ ]:
def average(a=7,b=10):
  print(f"Average Of A And B : {(a+b)/2}")

average()
average(10,15)

Average Of A And B : 8.5
Average Of A And B : 12.5

**Keyword Argument**

In [ ]:
def name(fname,mname,lname):
  print(f"{fname} {mname} {lname}")

name(mname="Ahmed",lname="Mir",fname="Fawad")

Fawad Ahmed Mir

**REQUIRED ARGUMENTS**

In [ ]:
def average(a,b):
  print(f"Average : {(a+b)/2}")
x=int(input("Value of X : "))
y=int(input("Value of Y : "))

average(x,y)

Value of X : 5
Value of Y : 5
Average : 5.0

**ARBITARY ARGUMENTS**

In [ ]:
def avg(*num):
    sum = 0
    for i in num:

     sum = sum+i
    print("Average is: ", sum/len(num))

avg(1,2,3,4,5,6,7,8,9,10)

Average is:  5.5

**Task NO. 7**

In [ ]:
def Grading(Eng,Urdu,Maths,Bio):
  sum=((Eng+Urdu+Maths+Bio)/400)*100
  print(f"Total Percentage {sum}")
  if(sum<=100 and sum >=90):
    print("A+ Grade")
  elif(sum<=89 and sum >=80):
    print("B+ Grade")
  elif(sum<=79 and sum >=70):
    print("C Grade")
  elif(sum<=69 and sum >=60):
    print("D Grade")
  elif(sum<=59 and sum >= 0):
    print("F Grade")
  else:
    print("Invalid Result")

English=int(input("English Out Of 100 : "))
Urdu=int(input("Urdu Out Of 100 : "))
Maths=int(input("Maths Out Of 100 : "))
Bio=int(input("Bio Out Of 100 : "))

Grading(English,Urdu,Maths,Bio)

English Out Of 100 : 60
Urdu Out Of 100 : 60
Maths Out Of 100 : 60
Bio Out Of 100 : 60
Total Percentage 60.0
D Grade

**Decorators**

In [ ]:
def my_decorator(func):
  def wrapper(name):
      print("Something is happening before the function is called.")
      func(name)
      print("Something is happening after the function is called.")
  return wrapper

@my_decorator
def say_hello(name):
  print("Hello!!!",name)

say_hello("fawad")

Something is happening before the function is called.
Hello!!! fawad
Something is happening after the function is called.

**Self Task**

In [ ]:
#Question:
# Write a decorator called log_execution that logs the name of the function being
# called and the time it took to execute. Then, apply this decorator to a function
# slow_add(a, b) that sleeps for 2 seconds and returns the sum of a and b.

# Requirements:
# The decorator should print:
#The name of the function before execution.
# The time taken to execute the function after it finishes.

In [ ]:
import time
def log_execution(func):
  def wrapper(a,b):
      print(f"Function Name : {func.__name__}")
      start_time=time.time()
      result=func(a,b)
      end_time=time.time()
      elapsed_time=end_time-start_time

      print(f"{func.__name__} took {elapsed_time} to execute")
      return result
  return wrapper

@log_execution
def slow_add(a,b):
  time.sleep(2)
  print(f"Sum Of A + B = {a+b}")

slow_add(5,6)

Function Name : slow_add
Sum Of A + B = 11
slow_add took 2.0002644062042236 to execute

In [ ]:
def decorator(func):
  def wrapper(*args,**kwargs):
    naam=kwargs.get('name')
    if naam is None and args:
            naam = args[0]

    print(f"Hello, very nice to meet you, {naam}!")
    result=func(*args,**kwargs)
    print(f"Thank You")
    return result
  return wrapper

@decorator
def letter(name):
  print("Lorem ipsum dolor sit amet, consectetur adipiscing elit.\nMauris ornare sed tellus faucibus viverra. \nPellentesque sit amet risus sapien. \nAliquam erat volutpat. \nCurabitur elit enim, suscipit ac augue suscipit, interdum feugiat magna. \nProin at porttitor diam. ac turpis egestas.")

letter("Fawad")

Hello, very nice to meet you, Fawad!
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Mauris ornare sed tellus faucibus viverra.
Pellentesque sit amet risus sapien.
Aliquam erat volutpat.
Curabitur elit enim, suscipit ac augue suscipit, interdum feugiat magna.
Proin at porttitor diam. ac turpis egestas.
Thank You

## **Session NO. 8**

### **Lists**

In [ ]:
l = [3,5,7]
print(l)
print(type(l))
print(l[1])

[3, 5, 7]
<class 'list'>
5

In [ ]:
l=[1,2,3,"MRK",True]
print(type(l))

<class 'list'>

In [ ]:
colors = ['Red','Blue','Green']
print(colors[-1])
print(colors[-2])
print(colors[-3])

Green
Blue
Red

In [ ]:
colors = ['Red','Green','Blue','Y']
for i in colors:
  if i == 'Y':
    print("Found", i)

Found Y

In [ ]:
animals=['Monkey','Donkey','Tiger','Lion','Bat']
print(animals[1:6:3])

['Donkey', 'Bat']

### **List Comprehension**

In [ ]:
#list = [Expression(item) for item in iterable if condition]
lst = [i*i for i in range(4)]
print(lst)

[0, 1, 4, 9]

In [ ]:
lst = [i for i in range(20) if i%2==0]
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
names= ['Choi Sab','Jutt Sab','Farhoot Sab','Mirsab']
lst=[name for name in names if 'o' in name]
print(lst)

['Choi Sab', 'Farhoot Sab']

In [ ]:
names = ['zain','zaid','saad','fawad']
lst=[name for name in names if name.startswith('z')]
print(lst)

['zain', 'zaid']

### **List Methods**

In [ ]:
my_list = [3, 1, 2]
my_list.sort()
print(my_list)  # [1, 2, 3]

my_list.sort(reverse=True)
print(my_list)  # [3, 2, 1]

[1, 2, 3]
[3, 2, 1]

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # [3, 2, 1]

[3, 2, 1]

In [ ]:
my_list = [1, 2, 3]
new_list = my_list.copy()
print(new_list)  # [1, 2, 3]

[1, 2, 3]

In [ ]:
my_list = [1, 2, 2, 3]
print(my_list.count(2))  # 2

2

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # []

[]

In [ ]:
my_list = [1, 2, 3]
item = my_list.pop()
print(item)     # 3
print(my_list)  # [1, 2]

3
[1, 2]

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # [1, 3, 2]

[1, 3, 2]

### **Tuples & Sets**

In [ ]:
student_info=("Fawad",21,"A+")
print(student_info[0])
print(student_info[1:3])

Fawad
(21, 'A+')

In [ ]:
maths_students={"Alice","Bob","Sam"}
science_students={"Tim","Bob","Mark"}
print(maths_students.union(science_students))

{'Mark', 'Tim', 'Alice', 'Bob', 'Sam'}

In [ ]:
print(maths_students.intersection(science_students))

{'Bob'}

In [ ]:
print((maths_students.difference(science_students)).union(science_students.difference(maths_students)))

{'Alice', 'Mark', 'Tim', 'Sam'}

In [ ]:
maths_students.add("Frank")
print(maths_students)

{'Frank', 'Alice', 'Bob', 'Sam'}

In [ ]:
tupal=(1,2,3,4,5)
sets=set(tupal)
print(sets)

{1, 2, 3, 4, 5}

In [ ]:
if(len(tupal)==len(sets)):
  print(sets)
else:
  print("There are duplicates")

{1, 2, 3, 4, 5}

In [ ]:
print(sum(sets))

15

## **Session NO. 9**

### **Dictionary**

In [ ]:
dct={"Name":"Fawad","Class":"BSCS","RollNo":"3rd"}
print(dct)

{'Name': 'Fawad', 'Class': 'BSCS', 'RollNo': '3rd'}

In [ ]:
dct={"Model":"Rx-7,Rx-8,Rx-5","Car":"Mazda"}
dct.get("Model")

'Rx-7,Rx-8,Rx-5'

In [ ]:
dct={"Model":"Rx-7,Rx-8,Rx-5","Car":"Mazda"}
dct.keys()

dict_keys(['Model', 'Car'])

In [ ]:
dct={"Model":"Rx-7,Rx-8,Rx-5","Car":"Mazda"}
dct.values()

dict_values(['Rx-7,Rx-8,Rx-5', 'Mazda'])

In [ ]:
dct={"Model":"Rx-7,Rx-8,Rx-5","Car":"Mazda"}
dct1=dct.copy()
print(dct1)

{'Model': 'Rx-7,Rx-8,Rx-5', 'Car': 'Mazda'}

In [ ]:
dct={"Model":"Rx-7,Rx-8,Rx-5","Car":"Mazda"}
dct.update({"Year":"1996"})
print(dct)

{'Model': 'Rx-7,Rx-8,Rx-5', 'Car': 'Mazda', 'Year': '1996'}

**TaskNo. 8**

In [ ]:
dct1={"Name":"Fawad","Class":"BSCS","Rollno":"3rd"}
dct2={"Book":"Us","Bike":"Bayk"}
dct3=dct1 | dct2
print(dct3)

{'Name': 'Fawad', 'Class': 'BSCS', 'Rollno': '3rd', 'Book': 'Us', 'Bike': 'Bayk'}

In [ ]:
dct1={"Name":"Fawad","Class":"BSCS","Rollno":"3rd"}
dct2={"Book":"Us","Bike":"Bayk"}
dct3=dct1.copy()
print(dct3)
dct3.update(dct2)
print(dct3)

{'Name': 'Fawad', 'Class': 'BSCS', 'Rollno': '3rd'}
{'Name': 'Fawad', 'Class': 'BSCS', 'Rollno': '3rd', 'Book': 'Us', 'Bike': 'Bayk'}

In [ ]:
dct3={**dct1,**dct2}
print(dct3)

{'Name': 'Fawad', 'Class': 'BSCS', 'Rollno': '3rd', 'Book': 'Us', 'Bike': 'Bayk'}

In [ ]:
info={"name":"fawad","age":22,"address":"plate"}
info.update({"Employement Status":"Unemployed"})
print(info)

{'name': 'fawad', 'age': 22, 'address': 'plate', 'Employement Status': 'Unemployed'}

## **Session No. 10**

### **File Handling**

In [ ]:
f=open("demo.txt","w")
f.write("What Are You Doing!")
f.close()

In [ ]:
f=open("demo.txt","r")
data=f.read()
print(data)

What Are You Doing!

In [ ]:
f=open("demo.txt","a")
f.write("\nThis Is The New Line")
f.close()
f=open("demo.txt","r")
data=f.read()
print(data)

What Are You Doing!
This Is The New Line

In [ ]:
f=open("demo.png","w")
f.write("This is a png file")
f.close()
f=open("demo.png","r")
data=f.read()
print(data)

This is a png file

In [ ]:
with open("file.txt",'w') as f:
  f.write('This is the second syntax to write in a file')
with open("file.txt","r") as f:
  data=f.read()
  print(data)

This is the second syntax to write in a file

In [ ]:
import os
os.remove('demo.txt')

In [ ]:
from pathlib import Path

for file in Path('.').rglob('demo.txt'):
    print(file)

### **Task No. 10**

In [ ]:
with open('practice.txt', 'r+') as f:
    f.write('Hi every one. \nI am the Ai, Machine Learning and deep Learning Trainer.\nI use the Java Language for my Projects.\nI like programming in Java.')

    f.seek(0)  # Move pointer back to the beginning
    data = f.read()
    print(data)

    data = data.replace('Java', 'Python')

    f.seek(0)       # Move to beginning again before writing updated data
    f.write(data)   # This will overwrite from the start
    f.truncate()    # Remove any leftover content after new data
    print(data)

    if 'Projects' in data:
      print('\n Projects Found')

Hi every one.
I am the Ai, Machine Learning and deep Learning Trainer.
I use the Java Language for my Projects.
I like programming in Java.hon.hon.hon.hon.
Hi every one.
I am the Ai, Machine Learning and deep Learning Trainer.
I use the Python Language for my Projects.
I like programming in Python.hon.hon.hon.hon.

 Projects Found

In [ ]:
f=open('practice.txt','w')
f.write('Hi every one. \nI am the Ai, Machine Learning and deep Learning Trainer.\nI use the Java Language for my Projects.\nI like programming in Java.')
f.close()

f=open('practice.txt','r')
data=f.read()
print(data)
data=data.replace('Java','Python')

f=open('practice.txt','w')
f.write(data)

f=open('practice.txt','r')
data=f.read()
print(data)

if "Projects" in data:
  print("\nFound")

Hi every one.
I am the Ai, Machine Learning and deep Learning Trainer.
I use the Java Language for my Projects.
I like programming in Java.
Hi every one.
I am the Ai, Machine Learning and deep Learning Trainer.
I use the Python Language for my Projects.
I like programming in Python.

Found

## **Session NO. 11**

### **Exception Handling**

In [ ]:
try:
  numerator=10
  denominator=0
  result=numerator/denominator
  print(result)
except:
  print("Error Error Error")

Error Error Error

In [ ]:
try:
  even=[2,4,6,8]
  print(even[5])
except ZeroDivisionError:
  print("Zero se divide na karein bhai")
except IndexError:
  print("Aap To Bahir Hi Nikal Gaye")

Aap To Bahir Hi Nikal Gaye

In [ ]:
try:
  num=int(input("Enter A Number :"))
  assert num%2 == 0
except:
  print("Not an even Number")
else:
  reciprocal=1/num
  print(reciprocal)

Enter A Number :3
Not an even Number

In [ ]:
try:
    numerator = 10
    denominator = 0
    result = numerator/denominator
    print(result)
except:
    print("Error: Denominator cannot be 0.")
finally:
    print("This is finally block.")

Error: Denominator cannot be 0.
This is finally block.

## **Session No. 12**

### **Classes And Objects**

In [ ]:
class Datalist:
  name = "Muhammad"
  age =25
  height=5.11

obj1 = Datalist()
print(obj1.name)
print(obj1.age)

Muhammad
25

In [ ]:
class Datalist:
  name='Kaleem'
  occupation = 'Trainer'
  networth= 100

a=Datalist()
a.name = "Haleem"
a.occupation = "AI Trainer"
print(a.name,a.occupation)

Haleem AI Trainer

### **Task NO . 11**

In [ ]:
class Datalist:
  name = "Fawad"
  rollno = 4
  height = 5.11
  married = False

man=Datalist()
print(f"Name : {man.name}   {type(man.name)}")
print(f"RollNo : {man.rollno}   {type(man.rollno)}")
print(f"Height : {man.height}   {type(man.height)}")
print(f"Married : {man.married}   {type(man.married)}")

Name : Fawad   <class 'str'>
RollNo : 4   <class 'int'>
Height : 5.11   <class 'float'>
Married : False   <class 'bool'>

In [ ]:
class Datalist:
  name = "Fawad"
  occupation = "Trainer"
  networth = 100

  def info(self):
    print(f"{self.name} is a {self.occupation}")

a= Datalist()
a.info()

Fawad is a Trainer

### **Constructor**

In [ ]:
class Car:
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year
    self.odometer = 0

  def Car_info(self):
    car_info = f"{self.year} {self.make} {self.model}"
    return car_info

  def read_ODO(self):
    return f"This Car Has Run {self.odometer} miles"

  def update_odometer(self,mileage):
    if mileage >= self.odometer:
      self.odometer = mileage
    else:
      print("You Can't Roll Back An Odometer !")

  def increment_odo(self,miles):
    self.odometer += miles


car1 = Car('Toyota','Corolla',2019)
car2 = Car('Tesla','Model S',2020)

print(car1.Car_info())
print(car2.Car_info())

print(car1.read_ODO())
print(car2.read_ODO())

car1.increment_odo(50000)
print(car1.read_ODO())


car2.increment_odo(20000)
print(car2.read_ODO())

2019 Toyota Corolla
2020 Tesla Model S
This Car Has Run 0 miles
This Car Has Run 0 miles
This Car Has Run 50000 miles
This Car Has Run 20000 miles

### **Task NO. 12**

In [ ]:
class Calculator:
  def __init__(self,*num):
    self.num=num

  def addition(self,*num):
    print(f"Sum = {sum(num)}")

  def subtraction(self,*num):
    result = num[0]
    for i in num[1:]:
      result -= i
    print(f"Sub = {result}")

  def multiplication(self,*num):
    result = num[0]
    for i in num[1:]:
      result *= i
    print(f"Product = {result}")

  def division(self,*num):
    result = num[0]
    for i in num[1:]:
      result /= i
    print(f"Division = {result}")

a=Calculator()
a.addition(45,35)
a.subtraction(45,35)
a.multiplication(45,35)
a.division(45,35)

Sum = 80
Sub = 10
Product = 1575
Division = 1.2857142857142858

### **Abstraction**

In [12]:
class Car():
  def __init__(self):
    self.acc = False
    self.Break = False
    self.clutch = False
  def start (self):
    self.clutch = True
    self.acc = True
    print("Car Started .....")

car1=Car()
car1.start()

Car Started .....

In [13]:
class Car:
    def start(self):
        self.__check_fuel()
        self.__check_engine()
        print("Car started!")

    def __check_fuel(self):
        print("Checking fuel level...")

    def __check_engine(self):
        print("Running engine diagnostics...")

my_car = Car()
my_car.start()

Checking fuel level...
Running engine diagnostics...
Car started!

In [29]:
class Account:
    def __init__(self):
        self.__balance = 0
        self.__account = 123456789

    def debit(self, amount):
        self.__balance += amount
        print("----------------------------------------")
        print(f"{amount} Deposited")
        print("----------------------------------------")
        print(f"Available Balance: {self.__get_balance()}")
        print("----------------------------------------")

    def credit(self, amount):
        if amount <= self.__balance:
          self.__balance -= amount
          print(f"{amount} Withdrawn")
        else:
            print("Insufficient funds")

    def info(self):
        print("----------------------------------------")
        print(f"Balance: {self.__balance}")
        print(f"Account No: {self.__account}")
        print("----------------------------------------")

    def __get_balance(self):  # Private method
        return self.__balance

# Usage
acc = Account()
acc.debit(100000)
acc.credit(50000)
acc.info()

----------------------------------------
100000 Deposited
----------------------------------------
Available Balance: 100000
----------------------------------------
50000 Withdrawn
----------------------------------------
Balance: 50000
Account No: 123456789
----------------------------------------

### **Task NO. 13**

In [30]:
class School:
  def __init__(self):
    self.__Name = ""
    self.__RollNo = 0
    self.__Age = 0

  def admit(self,name,age):
    self.__Name = name
    self.__Age = age
    self.__RollNo+=1
    print(f"{self.__Name} Admitted")

  def conduct_exam(self):
    print("paper being conducted")


std1=School()
std1.admit("Dum Dum",20)
std1.conduct_exam()

Dum Dum Admitted
paper being conducted

### **Inheritance**

In [1]:
class Super_Class:
  A=0
class Base_Class(Super_Class):
  B=0
  def info(self,a,b):
    A=a
    B=b
    print(f"{A}  {B}" )

a=Base_Class()
a.info(5,7)

5  7

In [6]:
class Employee:
    def __init__(self, name, age, degree):
        self.Name = name
        self.Age = age
        self.Degree = degree

    def info(self):
        print(f"Name : {self.Name}")
        print(f"Age : {self.Age}")
        print(f"Degree : {self.Degree}")

class Programmer(Employee):
    def __init__(self, name, age, degree, lang):
        super().__init__(name, age, degree)  # Call parent constructor
        self.Language = lang

    def info(self):
        super().info()  # Call Employee's info method
        print(f"Language : {self.Language}")

# Usage
emp = Programmer("Fawad", 21, "BSCS", "Python")
emp.info()

Name : Fawad
Age : 21
Degree : BSCS
Language : Python

### **Task NO. 14**

In [18]:
class Shapes:
    def __init__(self):
        self.pi = 3.14

class Rectangle(Shapes):
    def __init__(self, l, w):
        super().__init__()            # Call parent constructor (optional here)
        self.__length = l
        self.__width = w

    def area(self):
        print(f"Area Of Rectangle Is : {self.__length * self.__width}")

class Circle(Shapes):
    def __init__(self, r):
        super().__init__()            # Call parent constructor to access pi
        self.__radius = r

    def area(self):
        print(f"Area Of Circle Is : {self.pi * self.__radius**2}")

# Create objects and call methods
rec = Rectangle(5, 7)
rec.area()

circle = Circle(5)
circle.area()

Area Of Rectangle Is : 35
Area Of Circle Is : 78.5

### **Polymorphism**

In [19]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class

for x in (car1, boat1):
  x.move()

Drive!
Sail!

In [23]:
class Animals:
  None
class Cat(Animals):
  def __init__(self):
    print("Cat Spawned")
  def sound(self):
    print("Meow Meow !")

class Dog(Animals):
  def __init__(self):
    print("Dog Spawned")
  def sound(self):
    print("Bow Bow !")

c=Cat()
d=Dog()
for i in (c,d):
  i.sound()

Cat Spawned
Dog Spawned
Meow Meow !
Bow Bow !